.app-wrapper{
  display: grid;

  grid-template-areas: 
  "h h h"
  "nav c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header{
  grid-area: h;
  background-color: green;
}

.nav{
  grid-area: nav;
  background-color: yellow;
}

.content{
  grid-area: c;
  background-color: blue;
}
